html
{
    margin: 0;
}
body
{
    margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
.home
{
	background-image:url('/static/images/GameBackground.png');
}
.lobby
{
	background-image: url('/static/images/LobbyBackground.png');
}
.scoreboardBG
{
    background-image: url('/static/images/ScoreBackground.png');
}

.playerContainer
{
	bottom: 50px;
	margin: auto;
	position: absolute;
  	left: 0;
  	right: 0;
}

.marginTOP
{
	margin-top: 50px;	

}