<html>

    <head>
        <title>Quick Draw</title>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <link href="{{ url_for('static', filename='css/showdown.css') }}" rel="stylesheet">
        <link href="../static/css/showdown.css" rel="stylesheet">
    </head>
    
    <body>
        <button class="noSelect" id="fire-button">Press and hold to ready your gun partner!</button>
    </body>

</html>

<script src="{{ url_for('static', filename='js/client_showdown.js') }}"></script>



