<html>
    <head>
        <title>Login Quick Draw</title>
    </head>
    <body>

        <h1> Room Code: <p style="display:inline;" id="roomCode">{{ code }}</p></h1>
        <button class="btn btn-block btn-success" style="width: 25%;" id="StartGame">Start Game</button>
        <button class="btn btn-block btn-primary" style="width: 25%;" id="Disconnect">Disconnect</button>
        <div class="container playerContainer">
            <div class="row" id="playerList">
            </div>
        </div>
        <!-- <ul id="playerList">
        </ul> -->
    </body>
    <script>
         //Create an audio object/promise and play it
         var lobbyAudio = new Audio('static/audio/music/lobby.mp3');
         var playPromise = lobbyAudio.play();
         
         if(playPromise !== undefined) {
             playPromise.then(function() {
                 
             }).catch(function(error) {
                 
             });
         }
        $(document).ready(function()
        {
            //console.log('+{{code}});
            var codeString = '{{code}}';
            var videoName = 'test.mp4';
            
            $("#StartGame").on("touchstart", function(){
                startGame();
            });
            $( "#StartGame" ).click(function() {
                startGame();
            });
            $("#Disconnect").on("touchstart", function(){
                disconnect();
            });
            $( "#Disconnect" ).click(function() {
                disconnect();
            });
            
            if(lobbyFlag)
            {
                console.log("Warning: Existing host lobby script found.");
                //Set a new gameCode since we're making a new game.
                codeString = '{{code}}';
                socket.emit('createGame', codeString);
                return;
            }
            lobbyFlag = true;
            socket.emit('createGame', codeString);
            function stopMusic()
            {
                lobbyAudio.pause();
                lobbyAudio.currentTime = 0.0;
            }
            
            function startGame()
            {
                stopMusic();
                // $('body').html('<video id=\"tutorial_video\" autoplay=\"autoplay\"><source src=\"static/video/' + videoName + '\" type=\"video/mp4\" /></video>');
                $('body').html('<div id=\"tutContainer\"><video id=\"tutorial_video\" autoplay=\"autoplay\"><source src=\"static/video/' + videoName + '\" type=\"video/mp4\" /></video></div>');
                socket.emit('tutorialStart', codeString);
                $('#tutorial_video').on('ended', function(){
                    setupGame();
                });

            }
            
            function setupGame()
            {
                socket.emit('startGame', codeString);
                $.ajax({
                    type:'POST',
                    url:'/host_showdown',
                    data: JSON.stringify( {'roomCode' : codeString }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(data)
                    {
                        //Do an error check if there isn't enough players
                        $('body').html(data);
                        $('#roomCode').html(codeString);
                        $('body').removeClass('lobby');
                        $('body').addClass('home');
                    }
                });
            }
            function disconnect()
            {
                stopMusic();
                $.ajax({
                    type:'POST',
                    url:'/home',
                    success: function(data)
                    {
                        socket.emit('disconnectGame', '{{code}}');
                        $('body').html(data);
                        $('body').removeClass('lobby');
                        $('body').addClass('home');   
                    }
                });
            }
       
            socket.on('playerJoin', function(msg)
            {
                var playerList = document.getElementById('playerList');
                var col = document.createElement('div');
                col.setAttribute('id', msg['username']);
                col.className = 'col-md-1 col-md-1-5 text-center ';
                var prevMarginTop = $('#playerList').children().last().hasClass('marginTOP');
                if (!prevMarginTop)
                    col.className += 'marginTOP';
                var img = document.createElement('img');
                img.src = "static/images/Idle" + msg['charIndex'] + '.png';
                img.className = 'charLobby';
                col.appendChild(img);
                var username = document.createTextNode(msg['username']);
                $(username).addClass('name-tag');
                col.appendChild(username);
                col.style.cssText = "left:-1500px";
                playerList.appendChild(col);
                $(col).animate({'left': 0}, 1000);
                playSFX(msg['charIndex']);
                //$(playerList).hide().fadeIn(1000);
                // var ul = document.getElementById('playerList');
                // var li = document.createElement("li");
                // li.setAttribute('id', msg['username']);
                // li.appendChild(document.createTextNode(msg['username']));
                // ul.appendChild(li);
            });
            socket.on('playerLeave', function(msg)
            {
                $('#' + msg).animate({'left':'-1500px'}, 1000);
                var hasMargin = $('#' + msg).hasClass("marginTOP");
                var nextSiblings = $('#' + msg).nextAll();
                if (nextSiblings.length != 0)
                {
                    var i = 0 ;
                    while (i < nextSiblings.length)
                    {
                        if (hasMargin)
                            $(nextSiblings[i]).addClass('marginTOP');
                        else
                            $(nextSiblings[i]).removeClass('marginTOP');                   
                        hasMargin = !hasMargin;
                        i++;
                    }
                }
                
                $('#' + msg).remove();
            });
            
            socket.on('tutorialSkip', function(){
                console.log('Skipping tutorial!');
                setupGame();
            });
            
        });
    </script>
</html>