<html>

    <head>
        <title>Quick Draw</title>
        
        <!-- Scripts -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--Style Sheets -->
        <link href="../static/css/versus.css" rel="stylesheet"> <!--- REMOVE AFTER TESTS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    
    <body style="background-image: url(../static/images/VSBackground.png); background-size:cover;">
        
        <div class="row">
        <!--PLAYER ONE IMAGES -->
            <div class="col-sm-7" align="center">
                    <div class="upper-text">{{playerOne}}</div>
            </div>
        <!--PLAYER TWO IMAGES -->
            <div class="col-sm-5" align="center">
                    <div class="lower-text">{{playerTwo}}</div>
            </div>
        </div>
    </body>
    
    <script>
        $('.upper-text').animate({'left': 30}, 500);
        $('.lower-text').animate({'left': 0}, 500);
    </script>

</html>



