<html>
    <head>
        <title>Quick Draw</title>
        <meta 
        name='viewport' 
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' 
        />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="{{ url_for('static', filename='css/background.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/showdown.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/hostLobby.css') }}" rel="stylesheet">
        <script>

            var socket = 0;
            var masterRoomCode = "";
            function setRoomCode(code)
            {
                masterRoomCode = code;
                console.log("setRoomCode: " + masterRoomCode);
            }
            $(document).ready(function()
            {
                if (socket == 0)
                    socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('serverMsg', function(msg)
                {
                if (msg == 'return')
                {
                    $.ajax(
                    {
                        type:'POST',
                        url: '/index',
                        success: function(data)
                        {
                            console.log(data);
                            $('body').html(data);
                        }
                    });
                }
                });

                socket.on('start_showdown', function()
                {
                $.ajax(
                {
                    type:'POST',
                    url: '/client_showdown',
                    success: function(data)
                    {
                        console.log(data);
                        $('#content').html(data);
                    }
                });
                });

                socket.on('spectate_match', function(){
                $('#content').html('Currently spectating match...');
                });

                socket.on('votingPhase', function() {
                    $.ajax({
                        type: "POST",
                        url: '/client_voting',
                        data: JSON.stringify( {'roomCode' : masterRoomCode }),
                        contentType: 'application/json;charset=UTF-8',
                        success: function (data) {
                            console.log(data)  // display the returned data in the console.
                            $('#content').html(data);
                        }
                    });
                });

                //Migrate player to drawing phase.    
                socket.on('drawingPhase', function(reply) {
                //inGame = true;
                prompt = reply.data;
                $.ajax({
                    type: "POST",
                    url: '/client_draw',
                    //data: JSON.stringify( {'num' : '0', 'hi' : 'baka'} ) , //NEW
                    //contentType: 'application/json;charset=UTF-8', //NEW
                    success: function (data) {
                        console.log(data)  // display the returned data in the console.
                        $('#content').html(data);
                        $('#prompt').html(prompt);
                    }
                });   
                });
            });
            
            function playClip(clipName)
            {
                //Create an audio object/promise and play it
                var audio = new Audio('static/audio/' + clipName + '.mp3');
                var playPromise = audio.play();
    
                if(playPromise !== undefined) {
                    playPromise.then(function() {
                        
                    }).catch(function(error) {
                        
                    });
                }
            }
            
        </script>
    </head>
    
    <body class="home">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="margin-bottom:5px;">
                    <button type="button" class="btn btn-block btn-success" id="CreateGameButt">Create Game</button>
                </div>
                <div class="col-sm-6" style="margin-bottom:5px;">
                    <button type="button" class="btn btn-block btn-primary" id="JoinGameButt">Join Game</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function()
        {
            $("#JoinGameButt").on("touchstart", function(){
                joinGame();
            });
            $( "#JoinGameButt" ).click(function() {
                joinGame();
            });
            $("#CreateGameButt").on("touchstart", function(){
                createGame();
            });
            $( "#CreateGameButt" ).click(function() {
                createGame();
            });

        });

        function createGame()
        {
            console.log("createGame");
            
            $.ajax({
                type:'POST',
                url: '/create',
                success: function(data)
                {
                    console.log(data);
                    $('body').removeClass('home');
                    $('body').addClass('lobby');
                    $('body').html(data);
                }
            });
        }

        function joinGame()
        {
            console.log("Join Game Screen");
            var url = "{{ url_for('join') }}";
            $.ajax({
                type:'POST',
                url: '/join',
                success: function(data)
                {
                    console.log(data);
                    $('body').html(data);
                }
            });
        }


    </script>
</html>