<html>
	<head>
		<title>{{ title }} - Quick Draw</title>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js">
        </script>
	</head>
	<body id="Main">
		<p align="center">Quick Draw!</p><br>
        <div id="content">
            <form style="align-content: center;margin:0 auto;" action="/index" method="post">
                {{ form.hidden_tag() }}
                <p align="center">
                    {{ form.room_code.label }}<br>
                    {{ form.room_code(size=32) }}<br>
                    {% for error in form.room_code.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p align="center">
                    {{ form.name.label }}<br>
                    {{ form.name(size=32) }}<br>
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p align="center">
                    {{ form.char_select.label }}<br>
                    {{ form.char_select(size=5) }}<br>
                </p>
                <p align="center">
                    <button type="button" class="btn btn-success" id="player">Join as Player</button><br>
                    or
                    <br>
                    <button type="button" class="btn btn-primary" id="spectator">Join as Spectator</button>
                </p>
            </form>
        </div>
        
	</body>
    
    <script>
        $(document).ready(function() {
        socket.on('spectatorState', function(msg)
        {//Only handles error or lobby. Server handles the other game states
            gameState = msg['gameState']
            if (gameState == 0)
            {
                alert('Wrong Game Code');
                return;
            }
            else if (gameState == 1) //Lobby
            {
                $('#content').html('Please wait for the game to start.');
                return;
            }
        });
        socket.on('playerState', function(msg)
        {
            var gameCode = document.getElementsByName('room_code')[0].value;

            console.log(msg['gameState']);
            gameState = msg['gameState'];
            
            if (gameState == 0 || gameState == 1)
            {
                $.ajax({
                    type: "POST",
                    url: '/login',
                    data: $('form').serialize(), // serializes the form's elements.
                    success: function (data) {
                        console.log(data);
                        if (data['error']>0) 
                            setRoomCode("");
                        if (data['error'] == 1)
                        {
                            alert("Wrong Game Code");
                            return;
                        }
                        else if (data['error'] == 2)
                        {
                            alert("The room is full!");
                            return;
                        }
                        else if (data['error'] == 3)
                        {
                            alert('Please choose a different username');
                            return;
                        }
                        else if (data['error'] == 4)
                        {
                            alert('Invalid form');
                            return;
                        }
                        else if(data['error'] == 5)
                        {
                            alert('Game has started! Please join as spectator instead');
                            return;
                        }
                        $('body').html(data);

                    }
                });
            }
        });
        $('#player').click(function (e) {
            playerAction(e);           
        });
        $("#player").on("touchstart", function(e){
            playerAction(e);
        });
        $('#spectator').click(function (e) {
            spectatorAction(e)
        });
        $("#spectator").on("touchstart", function(e){
            spectatorAction(e);
        });
        function playerAction(e)
        {
            e.stopPropagation();
            e.preventDefault();
            console.log("playerAction");
            var name = document.getElementsByName('name')[0].value;
            var gameCode = document.getElementsByName('room_code')[0].value;
            if (name == "" || gameCode == "")
            {
                alert('Please fill out all fields');
                return;
            }
            setRoomCode(gameCode);

            socket.emit('checkExistUser', {user: name, room_code: gameCode}); 
        }
        function spectatorAction(e)
        {
            e.stopPropagation();
            e.preventDefault();
            console.log("spectatorAction");
            var gameCode = document.getElementsByName('room_code')[0].value;
            setRoomCode(gameCode);

            socket.emit('spectatorJoin', gameCode);
        }
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    
    });
        
    </script>

</html>

