<!-- TODO: Add inheritence functionality for testing. See part 1 of tut -->

<!--
{#
{% extends name.html %}

        {% block content %}
		  <h1> Hello, {{ user }}!</h1>
        {% endblock %}
#}
-->

<html>
	<head>
		<title>Login Quick Draw</title>
	</head>
	<body>
        <h1 class="text-center" id="username"> {{ user }}</h1>
        <div id="content" style="margin: 0 auto; text-align: center">
            <h1>Welcome Partner!</h1>
            <h1>Please wait for the game to start.</h1>
		    <h1> Room Code: {{ room_code }}</h1>
        </div>
	</body>
	<script>
		$(document).ready(function(){
			//Send a message to the server to let it know 
			//that a user joined. So that the server can
			//Tell the host client to update the list
			var char = document.createElement('img');
			char.src = "/static/images/Idle" + '{{char_select}}' + '.png';
			char.style.width = "30%";
			$("#content").append(char);
			socket.emit('playerJoin', {user: '{{user}}', char_select: '{{char_select}}', room_code: '{{room_code}}'});
		});
		
	</script>
</html>

