<!-- TODO: Add inheritence functionality for testing. See part 1 of tut -->

<!--
{#
{% extends name.html %}

        {% block content %}
		  <h1> Hello, {{ user }}!</h1>
        {% endblock %}
#}
-->

<html>
	<head>
		<title>Login Quick Draw</title>
	</head>
	<body>
		<h1>Please wait for the game to start</h1>
		<h1> Hello, {{ user }}!</h1>
		<h1> Room Code: {{ room_code }}</h1>
	</body>
	<script>
		$(document).ready(function(){
			//Send a message to the server to let it know 
			//that a user joined. So that the server can
			//Tell the host client to update the list
			var char = document.createElement('img');
			char.src = "/static/images/Idle" + '{{char_select}}' + '.png';
			document.body.appendChild(char);
			socket.emit('playerJoin', {user: '{{user}}', char_select: '{{char_select}}', room_code: '{{room_code}}'});
		});
		socket.on('serverMsg', function(msg)
        {
            if (msg == 'return')
            {
            	$.ajax(
            	{
            		type:'POST',
            		url: '/index',
            		success: function(data)
            		{
            			console.log(data);
            			$('body').html(data);
            		}
            	});
            }
        });
		socket.on('start_showdown', function()
        {
            $.ajax(
            {
            	type:'POST',
            	url: '/showdown',
            	success: function(data)
            	{
            		console.log(data);
            		$('body').html(data);
            	}
            });
        });
	</script>
</html>

